{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block navlinks %}
  <li class="nav-item"><a href="./" class="nav-link">Home</a></li>
  <li class="nav-item"><a href="blog" class="nav-link active" aria-current="page">Blog</a></li>
  <li class="nav-item"><a href="about" class="nav-link">About</a></li>
{% endblock %}

{% block content %}
  <section class="py-3 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to our blog</h1>
        <p class="lead text-muted">These are our awesome blog posts.
        Happy reading!</p>
      </div>
    </div>
  </section>
  <div class="py-3 container">
    <div class="row py-lg-3">
      <div class="list-group">
        {% for post in posts %}
        <a href={{ "#{post.url}" }} class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">{{ post.title }}</h6>
                <p class="mb-0 opacity-75">{{ post.excerpt }}...</p>
              </div>
              <small class="opacity-50 text-nowrap">{{ post.pretty_date }}</small>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
